<!DOCTYPE html>
<html>
<head>
    <title>Read Notes</title>
    <link rel="stylesheet" href="/public/style.css">
</head>
<body>
<div class="container">
    <h1>Bonjour, <%= user.firstname %></h1> <!-- Display the user's firstname -->

    <% notes.forEach(note => { %>
        <div class="note">
            <h3><%= note.title %></h3>
            <p><%= note.content %></p>
            <form action="/notes/delete/<%= note.id %>" method="post">
                <input type="submit" value="Delete Note">
            </form>
        </div>
    <% }); %>

    <a href="/notes/create">Create Note</a>

    <a href="/logout">Logout</a>
</div>
</body>
</html>